@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.comment-popup-box {
  display: none;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 30vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.comment-popup-box label,
.comment-popup-box input,
.comment-popup-box button {
  margin: 1%;
}

.comment-popup-box input {
  width: 80%;
}