.title {
    font-size: 32px; 
    font-weight: 700;
    padding-bottom: 4%;
    text-align: center;
}

.comment-popup-box {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 30vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  
  .comment-popup-box label,
  .comment-popup-box input,
  .comment-popup-box button {
    margin: 1%;
  }
  
  .comment-popup-box input {
    width: 80%;
  }

  .outerBox {
    margin: 1rem; 
  }
  
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-size: large;
    text-align: center;
  }
  
  .listItem {
    list-style-type: none;
    padding: 1%;
    margin: 1%;
    width: 100%;
    border-radius: 0.5rem; 
    background-color: #f9fafb; 
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

  .listClues {
    list-style-type: none;
    margin-top: 1%;
    border-radius: 0.5rem; 
    background-color: #f9fafb; 
  }
    
  .listFeed {
    list-style-type: none;
    margin: 1%;
    width: 80%;
    padding: 1.8rem; 
    border-radius: 0.5rem; 
    background-color: #f9fafb; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .header {
    font-size: larger;
    font-weight: 600;
    margin: 1%;
  }

  .link {
    text-decoration: underline;
  }

  .button {
    background-color: lightblue; 
    color: black;
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }
  
  .button:hover {
    background-color: black;
    color: white; 
  }

  .filterBox {
    margin: 0.2%;
  }

  .matchSelector {
    margin: 0.5%;
  }

  .matchSelector label {
    margin: 0.35%;
  }

  .matchSelector input {
    margin: 0.25%;
  }

  .addPopupBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    overflow-y: scroll;
    width: 50vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.addPopupBox label,
.addPopupBox input,
.addPopupBox button,
.addPopupBox select {
    margin: 1.4%;
}

.addPopupBox input,
.addPopupBox select {
    width: 90%;
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
}

.editPopupBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  overflow-y: scroll;
  width: 30vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.editPopupBox label,
.editPopupBox input,
.editPopupBox button,
.editPopupBox select {
    margin: 1.4%;
}

.editPopupBox input,
.editPopupBox select {
    width: 90%;
}

.clueImage {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.expandIcon {
  margin-top: 1%;
}

.articleContent {
  flex-grow: 1;
}

@keyframes slide {
  0% {
    transform: translateX(-800%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 255, 0));
    background-size: 200% 100%;
    background-position: left bottom;
  }
  100% {
    transform: translateX(1000%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 255, 0));
    background-size: 200% 100%;
    background-position: left bottom;
  }
}

.scanningIndicator {
  display: inline-block;
  align-items: center; 
  margin-top: 10px;
  width: 8%;
  animation: slide 4s linear infinite;
  background-size: 200% 100%;
  background-position: left bottom;
}

.scannedUrl {
  text-align: center;
}

.loginDiv {
  background-color: lightgray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 5%;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.label {
  display: inline-block; 
  min-width: 140px;
  margin-bottom: 5%; 
}

.centerMain {
  margin-top: 5%;
}

.input {
  width: 60%;
}

.clueText {
  padding: 5%;
}

.clueContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: auto; 
}

.gridOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  pointer-events: none;
}

.gridCell {
  background-color: black;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.gridContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 60vw;
  height: 60vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin: 2%;
}

.green {
 background-color: green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.gridDiv {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  align-items: center;
  justify-content: center;
  display: flex;
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid black; 
  transition: opacity 0.3s ease;
}

.transparent {
  background-color: transparent;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.map {
  margin-top: 2%;
}

.chessBoard {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  height: 60vw;
  margin: 2%;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.boardSquare {
  position: relative;
  width: 100%;
  height: 100%;
}

.piece {
  font-size: 50px;
  font-weight: bold;
  cursor: move;
  text-align: center;
}

.brown {
  color: brown;
}

.gray {
  color: gray;
}

.rainbow {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
}

.link {
  text-decoration: underline;
  margin: 2%;
}
